@bryntum:registry=https://npm.bryntum.com
//npm.bryntum.com/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJ0cmlhbCIsImdhbnR0Il0sIm5hbWUiOiJqamFqaTgwLi5nbWFpbC5jb20iLCJncm91cHMiOlsidHJpYWwiLCJnYW50dCIsIiRhbGwiLCIkYXV0aGVudGljYXRlZCIsIkBhbGwiLCJAYXV0aGVudGljYXRlZCIsImFsbCJdLCJpYXQiOjE2OTY1NDc2NjYsIm5iZiI6MTY5NjU0NzY2NiwiZXhwIjoyNTYwNDYxMjY2fQ.wGbnXvlKfVtGD1XFJy6JXqELz5ZcyxRRMjmYuFZ0THY
